# Train 및 기타 데이터 살펴보기
#### Reference: https://www.kaggle.com/chumajin/eda-of-mlb-for-starter-english-ver

## Train 데이터 살펴보기

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

import os.path

In [13]:
file_path = 'E:/jupyter/Kaggle/MLB_FAN_ENGAGEMENT/data'

train = pd.read_csv(file_path + '/train.csv')
train.head(5)

,date,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20180101,"[{""engagementMetricsDate"":""2018-01-02"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-01"",""t...",NaN,NaN,"[{""transactionId"":340732,""playerId"":547348,""pl...",NaN,NaN,NaN,"[{""date"":""2018-01-01"",""playerId"":545361,""playe...","[{""date"":""2018-01-01"",""teamId"":147,""teamName"":..."
1,20180102,"[{""engagementMetricsDate"":""2018-01-03"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-02"",""t...",NaN,NaN,"[{""transactionId"":339458,""playerId"":621173,""pl...",NaN,NaN,NaN,NaN,NaN
2,20180103,"[{""engagementMetricsDate"":""2018-01-04"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-03"",""t...",NaN,NaN,"[{""transactionId"":347527,""playerId"":572389,""pl...",NaN,NaN,NaN,NaN,NaN
3,20180104,"[{""engagementMetricsDate"":""2018-01-05"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-04"",""t...",NaN,NaN,"[{""transactionId"":339549,""playerId"":545343,""pl...",NaN,NaN,NaN,NaN,NaN
4,20180105,"[{""engagementMetricsDate"":""2018-01-06"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-05"",""t...",NaN,NaN,"[{""transactionId"":341195,""playerId"":628336,""pl...",NaN,NaN,NaN,NaN,NaN

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216 entries, 0 to 1215
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1216 non-null   datetime64[ns]
 1   nextDayPlayerEngagement  1216 non-null   object
 2   games                    639 non-null    object
 3   rosters                  1216 non-null   object
 4   playerBoxScores          538 non-null    object
 5   teamBoxScores            538 non-null    object
 6   transactions             1103 non-null   object
 7   standings                531 non-null    object
 8   awards                   294 non-null    object
 9   events                   536 non-null    object
 10  playerTwitterFollowers   40 non-null     object
 11  teamTwitterFollowers     40 non-null     object
dtypes: datetime64[ns](1), object(11)
memory usage: 114.1+ KB

In [8]:
# to_datetime

train['date'] = pd.to_datetime(train['date'], format="%Y%m%d")

In [5]:
# json parser

def unpack_json(json_str):
    return np.nan if pd.isna(json_str) else pd.read_json(json_str)

In [11]:
# column별 반복을 위한 코드 
# train의 각 칼럼 별로 데이터프레임 생성

def exshow(col,n):
    tmp = train[col]
    tmp = tmp.dropna() # null 제거
    tmpdf = unpack_json(tmp.iloc[n]) # json parsing
    print(tmpdf.columns) # 칼럼명 확인
    return tmpdf # 어떤 날의 해당 칼럼의 정보를 나타내는 데이터프레임 출력

### nextDayPlayerEngagement

In [18]:
nextdayPE = exshow('nextDayPlayerEngagement',0)
nextdayPE

Index(['engagementMetricsDate', 'playerId', 'target1', 'target2', 'target3',
       'target4'],
      dtype='object')

,engagementMetricsDate,playerId,target1,target2,target3,target4
0,2018-01-02,628317,0.011167,4.474708,0.005168,5.735294
1,2018-01-02,547989,0.042993,5.593385,0.045033,2.794118
2,2018-01-02,519317,0.974327,56.177043,13.693746,64.166667
3,2018-01-02,607625,0.006700,2.675097,0.005168,1.862745
4,2018-01-02,592547,0.001117,0.632296,0.002953,0.931373
...,...,...,...,...,...,...
2056,2018-01-02,605525,0.000000,0.000000,0.000000,0.098039
2057,2018-01-02,573131,0.000000,0.048638,0.000000,1.176471
2058,2018-01-02,664199,0.000000,0.000000,0.000000,0.196078
2059,2018-01-02,663399,0.000000,0.000000,0.000000,0.098039
2060,2018-01-02,656775,0.000558,0.000000,0.000000,0.000000

### games

In [19]:
# exshow('games',0)
games = exshow('games',1)
games

Index(['gamePk', 'gameType', 'season', 'gameDate', 'gameTimeUTC', 'resumeDate',
       'resumedFrom', 'codedGameState', 'detailedGameState', 'isTie',
       'gameNumber', 'doubleHeader', 'dayNight', 'scheduledInnings',
       'gamesInSeries', 'seriesDescription', 'homeId', 'homeName',
       'homeAbbrev', 'homeWins', 'homeLosses', 'homeWinPct', 'homeWinner',
       'homeScore', 'awayId', 'awayName', 'awayAbbrev', 'awayWins',
       'awayLosses', 'awayWinPct', 'awayWinner', 'awayScore'],
      dtype='object')

,gamePk,gameType,season,gameDate,gameTimeUTC,resumeDate,resumedFrom,codedGameState,detailedGameState,isTie,...,homeWinner,homeScore,awayId,awayName,awayAbbrev,awayWins,awayLosses,awayWinPct,awayWinner,awayScore
0,534461,E,2018,2018-02-22,2018-02-22T18:05:00Z,NaN,NaN,F,Final,False,...,True,6,228,Florida Southern College Mocs,FSC,0,1,0,False,1
1,545334,E,2018,2018-02-22,2018-02-22T18:05:00Z,NaN,NaN,F,Final,False,...,True,6,231,University of Tampa Spartans,UT,0,1,0,False,0
2,547295,E,2018,2018-02-22,2018-02-22T03:33:00Z,NaN,NaN,F,Final,False,...,True,4,227,Boston College Eagles,BC,0,1,0,False,2
3,533784,E,2018,2018-02-22,2018-02-22T23:05:00Z,NaN,NaN,F,Final,False,...,True,2,4864,Minnesota Gophers,UM,0,1,0,False,1
4,547296,E,2018,2018-02-22,2018-02-22T18:05:00Z,NaN,NaN,F,Final,False,...,True,15,343,Northeastern University Huskies,NEU,0,1,0,False,2

### rosters

In [20]:
rosters = exshow('rosters',0)
rosters

Index(['playerId', 'gameDate', 'teamId', 'statusCode', 'status'], dtype='object')

      playerId    gameDate  teamId statusCode  status
0       400121  2018-01-01     116          A  Active
1       408045  2018-01-01     142          A  Active
2       425492  2018-01-01     120          A  Active
3       429664  2018-01-01     136          A  Active
4       431151  2018-01-01     121          A  Active
...        ...         ...     ...        ...     ...
1175    657228  2018-01-01     108          A  Active
1176    657240  2018-01-01     114          A  Active
1177    657253  2018-01-01     115          A  Active
1178    657557  2018-01-01     138          A  Active
1179    666971  2018-01-01     141          A  Active

[1180 rows x 5 columns]

### playerBoxScores

In [22]:
playerBS = exshow('playerBoxScores',0)
playerBS

Index(['home', 'gamePk', 'gameDate', 'gameTimeUTC', 'teamId', 'teamName',
       'playerId', 'playerName', 'jerseyNum', 'positionCode', 'positionName',
       'positionType', 'battingOrder', 'gamesPlayedBatting', 'flyOuts',
       'groundOuts', 'runsScored', 'doubles', 'triples', 'homeRuns',
       'strikeOuts', 'baseOnBalls', 'intentionalWalks', 'hits', 'hitByPitch',
       'atBats', 'caughtStealing', 'stolenBases', 'groundIntoDoublePlay',
       'groundIntoTriplePlay', 'plateAppearances', 'totalBases', 'rbi',
       'leftOnBase', 'sacBunts', 'sacFlies', 'catchersInterference',
       'pickoffs', 'gamesPlayedPitching', 'gamesStartedPitching',
       'completeGamesPitching', 'shutoutsPitching', 'winsPitching',
       'lossesPitching', 'flyOutsPitching', 'airOutsPitching',
       'groundOutsPitching', 'runsPitching', 'doublesPitching',
       'triplesPitching', 'homeRunsPitching', 'strikeOutsPitching',
       'baseOnBallsPitching', 'intentionalWalksPitching', 'hitsPitching',
       'hitByPitchPitching', 'atBatsPitching', 'caughtStealingPitching',
       'stolenBasesPitching', 'inningsPitched', 'saveOpportunities',
       'earnedRuns', 'battersFaced', 'outsPitching', 'pitchesThrown', 'balls',
       'strikes', 'hitBatsmen', 'balks', 'wildPitches', 'pickoffsPitching',
       'rbiPitching', 'gamesFinishedPitching', 'inheritedRunners',
       'inheritedRunnersScored', 'catchersInterferencePitching',
       'sacBuntsPitching', 'sacFliesPitching', 'saves', 'holds', 'blownSaves',
       'assists', 'putOuts', 'errors', 'chances'],
      dtype='object')

,home,gamePk,gameDate,gameTimeUTC,teamId,teamName,playerId,playerName,jerseyNum,positionCode,...,catchersInterferencePitching,sacBuntsPitching,sacFliesPitching,saves,holds,blownSaves,assists,putOuts,errors,chances
0,1,529418,2018-03-29,2018-03-29T23:08:00Z,119,Los Angeles Dodgers,605131,Austin Barnes,15,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,529406,2018-03-29,2018-03-29T20:00:00Z,139,Tampa Bay Rays,605480,Mallex Smith,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,0,529416,2018-03-29,2018-03-29T20:10:00Z,143,Philadelphia Phillies,546318,Odubel Herrera,37,8,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,0,529412,2018-03-29,2018-03-29T20:05:00Z,108,Los Angeles Angels,527043,Jefry Marte,19,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0
4,1,529408,2018-03-29,2018-03-29T20:15:00Z,118,Kansas City Royals,449181,Paulo Orlando,16,8,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,0,529413,2018-03-29,2018-03-29T20:10:00Z,158,Milwaukee Brewers,502624,Chase Anderson,57,1,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
402,1,529419,2018-03-29,2018-03-29T17:10:00Z,121,New York Mets,592789,Noah Syndergaard,34,1,...,0.0,0.0,0.0,NaN,NaN,NaN,3.0,0.0,0.0,3.0
403,1,529414,2018-03-29,2018-03-29T19:05:00Z,110,Baltimore Orioles,605164,Dylan Bundy,37,1,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,1.0,0.0,1.0
404,1,529413,2018-03-29,2018-03-29T20:10:00Z,135,San Diego Padres,453385,Clayton Richard,3,1,...,0.0,0.0,0.0,NaN,NaN,NaN,3.0,0.0,0.0,3.0
405,0,529409,2018-03-29,2018-03-30T02:10:00Z,114,Cleveland Indians,446372,Corey Kluber,28,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### teamBoxScores

In [23]:
teamBS = exshow('teamBoxScores',0)
teamBS

Index(['home', 'teamId', 'gamePk', 'gameDate', 'gameTimeUTC', 'flyOuts',
       'groundOuts', 'runsScored', 'doubles', 'triples', 'homeRuns',
       'strikeOuts', 'baseOnBalls', 'intentionalWalks', 'hits', 'hitByPitch',
       'atBats', 'caughtStealing', 'stolenBases', 'groundIntoDoublePlay',
       'groundIntoTriplePlay', 'plateAppearances', 'totalBases', 'rbi',
       'leftOnBase', 'sacBunts', 'sacFlies', 'catchersInterference',
       'pickoffs', 'airOutsPitching', 'groundOutsPitching', 'runsPitching',
       'doublesPitching', 'triplesPitching', 'homeRunsPitching',
       'strikeOutsPitching', 'baseOnBallsPitching', 'intentionalWalksPitching',
       'hitsPitching', 'hitByPitchPitching', 'atBatsPitching',
       'caughtStealingPitching', 'stolenBasesPitching', 'inningsPitched',
       'earnedRuns', 'battersFaced', 'outsPitching', 'hitBatsmen', 'balks',
       'wildPitches', 'pickoffsPitching', 'rbiPitching', 'inheritedRunners',
       'inheritedRunnersScored', 'catchersInterferencePitching',
       'sacBuntsPitching', 'sacFliesPitching'],
      dtype='object')

,home,teamId,gamePk,gameDate,gameTimeUTC,flyOuts,groundOuts,runsScored,doubles,triples,...,hitBatsmen,balks,wildPitches,pickoffsPitching,rbiPitching,inheritedRunners,inheritedRunnersScored,catchersInterferencePitching,sacBuntsPitching,sacFliesPitching
0,1,109,529410,2018-03-29,2018-03-30T02:10:00Z,4,9,8,2,1,...,0,0,0,0,2,0,0,0,1,0
1,0,114,529409,2018-03-29,2018-03-30T02:10:00Z,4,9,1,1,0,...,0,0,0,0,2,0,0,0,0,0
2,1,121,529419,2018-03-29,2018-03-29T17:10:00Z,2,10,9,2,0,...,0,0,0,0,4,0,0,0,0,0
3,1,139,529406,2018-03-29,2018-03-29T20:00:00Z,2,6,6,1,1,...,0,0,0,0,4,0,0,0,0,0
4,1,140,529411,2018-03-29,2018-03-29T19:35:00Z,9,4,1,1,0,...,0,0,0,0,4,0,0,0,0,1
5,1,146,529407,2018-03-29,2018-03-29T16:40:00Z,4,13,4,2,1,...,3,0,0,0,8,0,0,1,0,0
6,0,158,529413,2018-03-29,2018-03-29T20:10:00Z,4,19,2,2,0,...,0,0,0,0,1,0,0,0,0,0
7,1,119,529418,2018-03-29,2018-03-29T23:08:00Z,3,11,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,1,135,529413,2018-03-29,2018-03-29T20:10:00Z,6,12,1,0,0,...,1,0,0,1,2,0,0,0,0,0
9,0,142,529414,2018-03-29,2018-03-29T19:05:00Z,6,11,2,0,0,...,0,0,0,0,3,0,0,0,1,0
10,0,145,529408,2018-03-29,2018-03-29T20:15:00Z,6,8,14,3,0,...,1,0,0,0,6,0,0,0,0,0
11,0,117,529411,2018-03-29,2018-03-29T19:35:00Z,3,9,4,2,0,...,1,0,0,1,0,0,0,0,0,0
12,1,133,529412,2018-03-29,2018-03-29T20:05:00Z,3,9,6,1,1,...,0,0,0,0,5,0,0,0,0,0
13,1,136,529409,2018-03-29,2018-03-30T02:10:00Z,2,13,2,1,0,...,2,0,0,0,1,0,0,1,0,0
14,1,141,529415,2018-03-29,2018-03-29T19:37:00Z,2,9,1,0,0,...,0,0,0,0,6,0,0,0,0,0
15,0,143,529416,2018-03-29,2018-03-29T20:10:00Z,6,6,5,2,0,...,1,0,0,0,7,0,0,0,1,0
16,0,137,529418,2018-03-29,2018-03-29T23:08:00Z,1,10,1,2,0,...,0,0,0,0,0,0,0,0,0,0
17,1,110,529414,2018-03-29,2018-03-29T19:05:00Z,8,9,3,1,1,...,0,0,0,0,2,0,0,0,0,0
18,1,118,529408,2018-03-29,2018-03-29T20:15:00Z,6,13,7,3,0,...,1,0,0,0,14,0,0,0,0,0
19,0,115,529410,2018-03-29,2018-03-30T02:10:00Z,2,11,2,0,0,...,0,0,0,0,8,0,0,0,0,0
20,0,138,529419,2018-03-29,2018-03-29T17:10:00Z,3,5,4,1,0,...,1,0,0,0,8,0,0,0,1,0
21,0,111,529406,2018-03-29,2018-03-29T20:00:00Z,2,11,4,4,0,...,0,0,0,0,6,0,0,0,0,0
22,1,144,529416,2018-03-29,2018-03-29T20:10:00Z,5,12,8,1,0,...,1,0,0,0,5,0,0,0,0,0
23,0,108,529412,2018-03-29,2018-03-29T20:05:00Z,6,11,5,2,1,...,0,0,0,0,6,0,0,0,0,0
24,0,112,529407,2018-03-29,2018-03-29T16:40:00Z,3,6,8,4,0,...,1,0,0,0,4,0,0,0,0,0
25,0,147,529415,2018-03-29,2018-03-29T19:37:00Z,4,9,6,4,0,...,0,0,0,0,1,0,0,0,0,0

### transactions

In [26]:
transactions = exshow('transactions',2)
transactions

Index(['transactionId', 'playerId', 'playerName', 'date', 'fromTeamId',
       'fromTeamName', 'toTeamId', 'toTeamName', 'effectiveDate',
       'resolutionDate', 'typeCode', 'typeDesc', 'description'],
      dtype='object')

,transactionId,playerId,playerName,date,fromTeamId,fromTeamName,toTeamId,toTeamName,effectiveDate,resolutionDate,typeCode,typeDesc,description
0,347527,572389,Josh Prince,2018-01-03,NaN,NaN,109,Arizona Diamondbacks,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Arizona Diamondbacks signed free agent 2B Josh...
1,339518,571697,Scooter Gennett,2018-01-03,NaN,NaN,113,Cincinnati Reds,2018-01-03,2018-01-03,NUM,Number Change,Scooter Gennett changed number to 3.
2,341623,542669,Roman Mendez,2018-01-03,NaN,NaN,120,Washington Nationals,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Washington Nationals signed free agent RHP Rom...
3,339945,502544,Nick Buss,2018-01-03,NaN,NaN,142,Minnesota Twins,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Minnesota Twins signed free agent OF Nick Buss...
4,339514,607355,Logan Moore,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,ASG,Assigned,Philadelphia Phillies invited non-roster C Log...
5,339517,605520,Mitch Walding,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,ASG,Assigned,Philadelphia Phillies invited non-roster 3B Mi...
6,339504,518700,Eric Fryer,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent C Eric...
7,339512,519025,Will Middlebrooks,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent 3B Wil...
8,339510,542344,Heiker Meneses,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent 3B Hei...
9,339506,544993,Steve Geltz,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent RHP St...
10,339502,465753,Pedro Florimon,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent CF Ped...
11,339500,474039,Pedro Beato,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent RHP Pe...
12,339515,543611,Danny Ortiz,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent OF Dan...
13,339508,473724,Matt McBride,2018-01-03,NaN,NaN,143,Philadelphia Phillies,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Philadelphia Phillies signed free agent C Matt...
14,347081,576968,Jose Pena,2018-01-03,NaN,NaN,146,Miami Marlins,2018-01-03,2018-01-03,SFA,Signed as Free Agent,Miami Marlins signed free agent RHP Jose Pena ...

### standings

In [27]:
standings = exshow('standings',0)
standings

Index(['season', 'gameDate', 'divisionId', 'teamId', 'teamName', 'streakCode',
       'divisionRank', 'leagueRank', 'wildCardRank', 'leagueGamesBack',
       'sportGamesBack', 'divisionGamesBack', 'wins', 'losses', 'pct',
       'runsAllowed', 'runsScored', 'divisionChamp', 'divisionLeader',
       'wildCardLeader', 'eliminationNumber', 'wildCardEliminationNumber',
       'homeWins', 'homeLosses', 'awayWins', 'awayLosses', 'lastTenWins',
       'lastTenLosses', 'extraInningWins', 'extraInningLosses', 'oneRunWins',
       'oneRunLosses', 'dayWins', 'dayLosses', 'nightWins', 'nightLosses',
       'grassWins', 'grassLosses', 'turfWins', 'turfLosses', 'divWins',
       'divLosses', 'alWins', 'alLosses', 'nlWins', 'nlLosses', 'xWinLossPct'],
      dtype='object')

,season,gameDate,divisionId,teamId,teamName,streakCode,divisionRank,leagueRank,wildCardRank,leagueGamesBack,...,grassLosses,turfWins,turfLosses,divWins,divLosses,alWins,alLosses,nlWins,nlLosses,xWinLossPct
0,2018,2018-03-29,205,112,Chicago Cubs,W1,1,3,3.0,-,...,0,0,0,0,0,0,0,0,0,0.0
1,2018,2018-03-29,204,146,Miami Marlins,L1,4,12,12.0,1.0,...,1,0,0,0,0,0,1,0,1,0.0
2,2018,2018-03-29,204,121,New York Mets,W1,2,5,5.0,-,...,0,0,0,0,0,1,0,1,0,1.0
3,2018,2018-03-29,200,140,Texas Rangers,L1,5,14,13.0,1.0,...,1,0,0,0,1,0,0,0,0,0.0
4,2018,2018-03-29,204,144,Atlanta Braves,W1,1,2,2.0,-,...,0,0,0,1,0,0,0,0,0,0.0
5,2018,2018-03-29,201,111,Boston Red Sox,L1,4,9,8.0,1.0,...,0,0,1,0,1,0,0,0,0,0.0
6,2018,2018-03-29,202,116,Detroit Tigers,None,2,8,7.0,0.5,...,0,0,0,0,0,0,0,0,0,NaN
7,2018,2018-03-29,200,117,Houston Astros,W1,1,3,2.0,-,...,0,0,0,1,0,0,0,0,0,0.0
8,2018,2018-03-29,201,139,Tampa Bay Rays,W1,3,7,6.0,-,...,0,1,0,1,0,0,0,0,0,0.0
9,2018,2018-03-29,205,113,Cincinnati Reds,None,3,7,7.0,0.5,...,0,0,0,0,0,0,0,0,0,NaN
10,2018,2018-03-29,202,142,Minnesota Twins,L1,5,13,12.0,1.0,...,1,0,0,0,0,0,0,0,0,0.0
11,2018,2018-03-29,203,115,Colorado Rockies,L1,3,10,10.0,1.0,...,1,0,0,0,1,0,0,0,0,0.0
12,2018,2018-03-29,201,147,New York Yankees,W1,2,4,3.0,-,...,0,1,0,1,0,0,0,0,0,0.0
13,2018,2018-03-29,203,135,San Diego Padres,L1,5,14,14.0,1.0,...,1,0,0,0,0,0,1,0,1,0.0
14,2018,2018-03-29,200,136,Seattle Mariners,W1,3,6,5.0,-,...,0,0,0,0,0,1,0,1,0,1.0
15,2018,2018-03-29,201,110,Baltimore Orioles,W1,1,1,1.0,-,...,0,0,0,0,0,1,0,1,0,1.0
16,2018,2018-03-29,202,145,Chicago White Sox,W1,1,2,NaN,-,...,0,0,0,1,0,1,0,1,0,1.0
17,2018,2018-03-29,202,114,Cleveland Indians,L1,3,10,9.0,1.0,...,1,0,0,0,0,0,0,0,0,0.0
18,2018,2018-03-29,205,158,Milwaukee Brewers,W1,2,4,4.0,-,...,0,0,0,0,0,0,0,0,0,0.0
19,2018,2018-03-29,200,133,Oakland Athletics,W1,2,5,4.0,-,...,0,0,0,1,0,0,0,0,0,0.0
20,2018,2018-03-29,201,141,Toronto Blue Jays,L1,5,15,14.0,1.0,...,0,0,1,0,1,0,0,0,0,0.0
21,2018,2018-03-29,202,118,Kansas City Royals,L1,4,11,10.0,1.0,...,1,0,0,0,1,0,1,0,1,0.0
22,2018,2018-03-29,200,108,Los Angeles Angels,L1,4,12,11.0,1.0,...,1,0,0,0,1,0,0,0,0,0.0
23,2018,2018-03-29,205,134,Pittsburgh Pirates,None,4,8,8.0,0.5,...,0,0,0,0,0,0,0,0,0,NaN
24,2018,2018-03-29,203,119,Los Angeles Dodgers,L1,4,11,11.0,1.0,...,1,0,0,0,1,0,0,0,0,0.0
25,2018,2018-03-29,205,138,St. Louis Cardinals,L1,5,15,15.0,1.0,...,1,0,0,0,0,0,0,0,0,0.0
26,2018,2018-03-29,203,109,Arizona Diamondbacks,W1,1,1,1.0,-,...,0,0,0,1,0,0,0,0,0,0.0
27,2018,2018-03-29,203,137,San Francisco Giants,W1,2,6,6.0,-,...,0,0,0,1,0,0,0,0,0,0.0
28,2018,2018-03-29,204,120,Washington Nationals,None,3,9,9.0,0.5,...,0,0,0,0,0,0,0,0,0,NaN
29,2018,2018-03-29,204,143,Philadelphia Phillies,L1,5,13,13.0,1.0,...,1,0,0,0,1,0,0,0,0,0.0

### awards

In [30]:
awards = exshow('awards',0)
awards

Index(['awardId', 'awardName', 'awardDate', 'awardSeason', 'playerId',
       'playerName', 'awardPlayerTeamId'],
      dtype='object')

,awardId,awardName,awardDate,awardSeason,playerId,playerName,awardPlayerTeamId
0,VWLCPOY,VWL Comeback Player of the Year,2018-01-15,2017,150119,Freddy Garcia,699
1,VWLPOY,VWL Pitcher of the Year,2018-01-15,2017,446861,Guillermo Moscoso,699
2,VWLMOY,VWL Manager of the Year,2018-01-15,2017,492527,Mike Rojas,695
3,VWLRLOY,VWL Reliever of the Year,2018-01-15,2017,519246,Andres Santiago,694
4,VWLOPOY,VWL Offensive Player of the Year,2018-01-15,2017,543874,Jose Vargas,699
5,VWLROY,VWL Rookie of the Year,2018-01-15,2017,620444,Alexander Palma,695

### events

In [31]:
events = exshow('events',0)
events

Index(['gamePk', 'gameDate', 'gameTimeUTC', 'season', 'gameType', 'playId',
       'eventId', 'inning', 'halfInning', 'homeScore', 'awayScore',
       'menOnBase', 'atBatIndex', 'atBatDesc', 'atBatEvent', 'hasOut',
       'pitcherTeamId', 'isPitcherHome', 'pitcherTeam', 'hitterTeamId',
       'hitterTeam', 'pitcherId', 'pitcherName', 'isStarter', 'pitcherHand',
       'hitterId', 'hitterName', 'batSide', 'pitchNumber', 'balls', 'strikes',
       'isGB', 'isLD', 'isFB', 'isPU', 'launchSpeed', 'launchAngle',
       'totalDistance', 'event', 'description', 'rbi', 'pitchType', 'call',
       'outs', 'inPlay', 'isPaOver', 'startSpeed', 'endSpeed', 'nastyFactor',
       'breakAngle', 'breakLength', 'breakY', 'spinRate', 'spinDirection',
       'pX', 'pZ', 'aX', 'aY', 'aZ', 'pfxX', 'pfxZ', 'vX0', 'vY0', 'vZ0', 'x',
       'y', 'x0', 'y0', 'z0', 'type', 'zone'],
      dtype='object')

,gamePk,gameDate,gameTimeUTC,season,gameType,playId,eventId,inning,halfInning,homeScore,...,vX0,vY0,vZ0,x,y,x0,y0,z0,type,zone
0,529409,2018-03-29,2018-03-30T02:10:00Z,2018,R,None,5,9,top,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN
1,529416,2018-03-29,2018-03-29T20:10:00Z,2018,R,None,0,3,bottom,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN
2,529416,2018-03-29,2018-03-29T20:10:00Z,2018,R,None,4,9,top,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN
3,529411,2018-03-29,2018-03-29T19:35:00Z,2018,R,None,4,3,bottom,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN
4,529406,2018-03-29,2018-03-29T20:00:00Z,2018,R,None,5,8,top,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,529409,2018-03-29,2018-03-30T02:10:00Z,2018,R,9cdd94a2-e9e3-497a-9eaa-12c17234536d,4,6,top,2,...,8.42,-136.79,-3.76,100.03,169.80,-1.73,50.0,5.16,pitch,6.0
4313,529413,2018-03-29,2018-03-29T20:10:00Z,2018,R,aab52193-4ba9-4d96-b7e2-3c833f0ffc8f,4,11,bottom,1,...,1.42,-128.94,-2.83,101.97,125.52,-0.87,50.0,5.70,pitch,13.0
4314,529416,2018-03-29,2018-03-29T20:10:00Z,2018,R,31f59de4-bdb3-4d6b-8711-f1ea08318a52,4,5,top,0,...,2.07,-114.66,2.09,157.49,159.38,-2.10,50.0,5.09,pitch,11.0
4315,529407,2018-03-29,2018-03-29T16:40:00Z,2018,R,fee561a5-844b-4e93-a2dc-421af9e4919a,3,9,bottom,4,...,-9.89,-134.46,-7.56,120.52,188.03,2.58,50.0,6.17,pitch,8.0
4316,529412,2018-03-29,2018-03-29T20:05:00Z,2018,R,fa310039-159f-41e2-8a4a-8f59a73ab26a,4,1,bottom,0,...,4.24,-142.36,-8.86,113.07,188.55,-1.37,50.0,5.95,pitch,5.0

### playerTwitterFollowers

In [34]:
playerTwitter = exshow('playerTwitterFollowers',0)
playerTwitter

Index(['date', 'playerId', 'playerName', 'accountName', 'twitterHandle',
       'numberOfFollowers'],
      dtype='object')

,date,playerId,playerName,accountName,twitterHandle,numberOfFollowers
0,2018-01-01,545361,Mike Trout,Mike Trout,@miketrout,2452409
1,2018-01-01,506433,Yu Darvish,Yu Darvish,@faridyu,1945081
2,2018-01-01,434378,Justin Verlander,Justin Verlander,@justinverlander,1795985
3,2018-01-01,430897,Nick Swisher,Nick Swisher,@nickswisher,1711807
4,2018-01-01,120074,David Ortiz,David Ortiz,@davidortiz,1515463
...,...,...,...,...,...,...
808,2018-01-01,489119,Wade Miley,Wade Miley,@wademiley36,31
809,2018-01-01,453307,David Huff,David Huff,@therealdavehuff,15
810,2018-01-01,605125,Cody Asche,Cody Asche,@aschecody,8
811,2018-01-01,425766,James Loney,James Loney,@james_loney,7
812,2018-01-01,502260,Vinnie Pestano,Vinnie Pestano,@vinniep52,6

### teamTwitterFollowers

In [35]:
teamTwitter = exshow('teamTwitterFollowers',0)
teamTwitter

Index(['date', 'teamId', 'teamName', 'accountName', 'twitterHandle',
       'numberOfFollowers'],
      dtype='object')

,date,teamId,teamName,accountName,twitterHandle,numberOfFollowers
0,2018-01-01,147,New York Yankees,New York Yankees,@Yankees,3130482
1,2018-01-01,112,Chicago Cubs,Chicago Cubs,@Cubs,2373710
2,2018-01-01,141,Toronto Blue Jays,Toronto Blue Jays,@BlueJays,2196352
3,2018-01-01,111,Boston Red Sox,Boston Red Sox,@RedSox,1950737
4,2018-01-01,119,Los Angeles Dodgers,Los Angeles Dodgers,@Dodgers,1949542
5,2018-01-01,143,Philadelphia Phillies,Philadelphia Phillies,@Phillies,1776288
6,2018-01-01,137,San Francisco Giants,San Francisco Giants,@SFGiants,1742156
7,2018-01-01,116,Detroit Tigers,Detroit Tigers,@tigers,1413168
8,2018-01-01,140,Texas Rangers,Texas Rangers,@Rangers,1380307
9,2018-01-01,117,Houston Astros,Houston Astros,@astros,1264937
10,2018-01-01,144,Atlanta Braves,Atlanta Braves,@Braves,1172680
11,2018-01-01,138,St. Louis Cardinals,St. Louis Cardinals,@Cardinals,1159168
12,2018-01-01,118,Kansas City Royals,Kansas City Royals,@Royals,1004610
13,2018-01-01,121,New York Mets,New York Mets,@Mets,973007
14,2018-01-01,108,Los Angeles Angels,Los Angeles Angels,@Angels,957451
15,2018-01-01,114,Cleveland Indians,Cleveland Indians,@Indians,926708
16,2018-01-01,145,Chicago White Sox,Chicago White Sox,@whitesox,868914
17,2018-01-01,113,Cincinnati Reds,Cincinnati Reds,@Reds,801173
18,2018-01-01,110,Baltimore Orioles,Baltimore Orioles,@Orioles,758887
19,2018-01-01,134,Pittsburgh Pirates,Pittsburgh Pirates,@Pirates,715753
20,2018-01-01,120,Washington Nationals,Washington Nationals,@Nationals,679719
21,2018-01-01,142,Minnesota Twins,Minnesota Twins,@Twins,576528
22,2018-01-01,109,Arizona Diamondbacks,Arizona Diamondbacks,@Dbacks,557510
23,2018-01-01,158,Milwaukee Brewers,Milwaukee Brewers,@Brewers,525260
24,2018-01-01,133,Oakland Athletics,Oakland Athletics,@Athletics,521312
25,2018-01-01,139,Tampa Bay Rays,Tampa Bay Rays,@RaysBaseball,520308
26,2018-01-01,136,Seattle Mariners,Seattle Mariners,@Mariners,519794
27,2018-01-01,115,Colorado Rockies,Colorado Rockies,@Rockies,501319
28,2018-01-01,135,San Diego Padres,San Diego Padres,@Padres,369867
29,2018-01-01,146,Miami Marlins,Miami Marlins,@Marlins,321051

## 기타 데이터 살펴보기

###  awards

In [38]:
awards_o = pd.read_csv(file_path + '/awards.csv') # 위의 awards와 헷갈리지 않게 다른 이름으로 데이터프레임 저장
awards_o

,awardDate,awardSeason,awardId,awardName,playerId,playerName,awardPlayerTeamId
0,2017-12-21,2017,WARRENSPAHN,Warren Spahn Award,477132,Clayton Kershaw,119.0
1,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,474319,Brandon Snyder,120.0
2,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,592530,Jose Marmolejos,120.0
3,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,593833,Wander Suero,120.0
4,2017-12-20,2017,MILBORGAS,MiLB.com Organization All-Star,600466,Raudy Read,120.0
...,...,...,...,...,...,...,...
11251,2000-08-27,2000,NLPOW,NL Player of the Week,134181,Adrian Beltre,119.0
11252,2000-07-09,2000,FUTURES,Futures Game Selection,282332,CC Sabathia,402.0
11253,1998-09-01,1998,TLPSAS,TEX Post-Season All-Star,134181,Adrian Beltre,510.0
11254,1998-07-07,1998,ALAS,AL All-Star,112526,Bartolo Colon,114.0
11255,1998-06-21,1998,ALPOW,AL Player of the Week,112526,Bartolo Colon,114.0

### players

In [39]:
players = pd.read_csv(file_path + '/players.csv')
players

,playerId,playerName,DOB,mlbDebutDate,birthCity,birthStateProvince,birthCountry,heightInches,weight,primaryPositionCode,primaryPositionName,playerForTestSetAndFuturePreds
0,665482,Gilberto Celestino,1999-02-13,2021-06-02,Santo Domingo,NaN,Dominican Republic,72,170,8,Outfielder,False
1,593590,Webster Rivas,1990-08-08,2021-05-28,Nagua,NaN,Dominican Republic,73,219,3,First Base,True
2,661269,Vladimir Gutierrez,1995-09-18,2021-05-28,Havana,NaN,Cuba,73,190,1,Pitcher,True
3,669212,Eli Morgan,1996-05-13,2021-05-28,Rancho Palos Verdes,CA,USA,70,190,1,Pitcher,True
4,666201,Alek Manoah,1998-01-09,2021-05-27,Homestead,FL,USA,78,260,1,Pitcher,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2056,672695,Geraldo Perdomo,1999-10-22,NaN,Santo Domingo,NaN,Dominican Republic,74,203,6,Shortstop,True
2057,672911,Jesus Cruz,1995-04-15,NaN,Salinas de Hidalgo,San Luis Potosi,Mexico,73,230,1,Pitcher,False
2058,676103,Damon Jones,1994-09-30,NaN,Twin Falls,ID,USA,77,233,1,Pitcher,True
2059,676755,Isaac Mattson,1995-07-14,NaN,Erie,PA,USA,74,205,1,Pitcher,True
2060,680430,Nick Allgeyer,1996-02-03,NaN,St. Louis,MO,USA,75,210,1,Pitcher,True

### teams

In [40]:
teams = pd.read_csv(file_path + '/teams.csv')
teams

,id,name,teamName,teamCode,shortName,abbreviation,locationName,leagueId,leagueName,divisionId,divisionName,venueId,venueName
0,108,Los Angeles Angels,Angels,ana,LA Angels,LAA,Anaheim,103,American League,200,American League West,1,Angel Stadium
1,109,Arizona Diamondbacks,D-backs,ari,Arizona,ARI,Phoenix,104,National League,203,National League West,15,Chase Field
2,110,Baltimore Orioles,Orioles,bal,Baltimore,BAL,Baltimore,103,American League,201,American League East,2,Oriole Park at Camden Yards
3,111,Boston Red Sox,Red Sox,bos,Boston,BOS,Boston,103,American League,201,American League East,3,Fenway Park
4,112,Chicago Cubs,Cubs,chn,Chi Cubs,CHC,Chicago,104,National League,205,National League Central,17,Wrigley Field
5,113,Cincinnati Reds,Reds,cin,Cincinnati,CIN,Cincinnati,104,National League,205,National League Central,2602,Great American Ball Park
6,114,Cleveland Indians,Indians,cle,Cleveland,CLE,Cleveland,103,American League,202,American League Central,5,Progressive Field
7,115,Colorado Rockies,Rockies,col,Colorado,COL,Denver,104,National League,203,National League West,19,Coors Field
8,116,Detroit Tigers,Tigers,det,Detroit,DET,Detroit,103,American League,202,American League Central,2394,Comerica Park
9,117,Houston Astros,Astros,hou,Houston,HOU,Houston,103,American League,200,American League West,2392,Minute Maid Park
10,118,Kansas City Royals,Royals,kca,Kansas City,KC,Kansas City,103,American League,202,American League Central,7,Kauffman Stadium
11,119,Los Angeles Dodgers,Dodgers,lan,LA Dodgers,LAD,Los Angeles,104,National League,203,National League West,22,Dodger Stadium
12,120,Washington Nationals,Nationals,was,Washington,WSH,Washington,104,National League,204,National League East,3309,Nationals Park
13,121,New York Mets,Mets,nyn,NY Mets,NYM,Flushing,104,National League,204,National League East,3289,Citi Field
14,133,Oakland Athletics,Athletics,oak,Oakland,OAK,Oakland,103,American League,200,American League West,10,Oakland Coliseum
15,134,Pittsburgh Pirates,Pirates,pit,Pittsburgh,PIT,Pittsburgh,104,National League,205,National League Central,31,PNC Park
16,135,San Diego Padres,Padres,sdn,San Diego,SD,San Diego,104,National League,203,National League West,2680,Petco Park
17,136,Seattle Mariners,Mariners,sea,Seattle,SEA,Seattle,103,American League,200,American League West,680,T-Mobile Park
18,137,San Francisco Giants,Giants,sfn,San Francisco,SF,San Francisco,104,National League,203,National League West,2395,Oracle Park
19,138,St. Louis Cardinals,Cardinals,sln,St. Louis,STL,St. Louis,104,National League,205,National League Central,2889,Busch Stadium
20,139,Tampa Bay Rays,Rays,tba,Tampa Bay,TB,St. Petersburg,103,American League,201,American League East,12,Tropicana Field
21,140,Texas Rangers,Rangers,tex,Texas,TEX,Arlington,103,American League,200,American League West,5325,Globe Life Field
22,141,Toronto Blue Jays,Blue Jays,tor,Toronto,TOR,Toronto,103,American League,201,American League East,14,Rogers Centre
23,142,Minnesota Twins,Twins,min,Minnesota,MIN,Minneapolis,103,American League,202,American League Central,3312,Target Field
24,143,Philadelphia Phillies,Phillies,phi,Philadelphia,PHI,Philadelphia,104,National League,204,National League East,2681,Citizens Bank Park
25,144,Atlanta Braves,Braves,atl,Atlanta,ATL,Atlanta,104,National League,204,National League East,4705,Truist Park
26,145,Chicago White Sox,White Sox,cha,Chi White Sox,CWS,Chicago,103,American League,202,American League Central,4,Guaranteed Rate Field
27,146,Miami Marlins,Marlins,mia,Miami,MIA,Miami,104,National League,204,National League East,4169,loanDepot park
28,147,New York Yankees,Yankees,nya,NY Yankees,NYY,Bronx,103,American League,201,American League East,3313,Yankee Stadium
29,158,Milwaukee Brewers,Brewers,mil,Milwaukee,MIL,Milwaukee,104,National League,205,National League Central,32,American Family Field

### seasons

In [42]:
seasons = pd.read_csv(file_path + '/seasons.csv')
seasons

,seasonId,seasonStartDate,seasonEndDate,preSeasonStartDate,preSeasonEndDate,regularSeasonStartDate,regularSeasonEndDate,lastDate1stHalf,allStarDate,firstDate2ndHalf,postSeasonStartDate,postSeasonEndDate
0,2017,2017-04-02,2017-11-01,2017-02-22,2017-04-01,2017-04-02,2017-10-01,2017-07-09,2017-07-11,2017-07-14,2017-10-03,2017-11-01
1,2018,2018-03-29,2018-10-28,2018-02-21,2018-03-27,2018-03-29,2018-10-01,2018-07-15,2018-07-17,2018-07-19,2018-10-02,2018-10-28
2,2019,2019-03-20,2019-10-30,2019-02-21,2019-03-26,2019-03-20,2019-09-29,2019-07-07,2019-07-09,2019-07-11,2019-10-01,2019-10-30
3,2020,2020-07-23,2020-10-28,2020-02-21,2020-07-22,2020-07-23,2020-09-27,2020-08-25,NaN,2020-08-26,2020-09-29,2020-10-28
4,2021,2021-02-28,2021-10-31,2021-02-28,2021-03-30,2021-04-01,2021-10-03,2021-07-11,2021-07-13,2021-07-15,2021-10-04,2021-10-31